#header
{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: yellow;


}

#navigation
{
	display: flex;
	justify-content: space-between;
	background-color: green;
	width: 400px;
	height: 100px;
	align-items: center;
	list-style: none;
	padding-right: 25px;
	


}

.logo
{
	padding-top: 15px;
}

.nav
{
	text-decoration: none;
	
}

.asidetop
{
	background-color: grey;
	padding-left: 15px;
}

.search
{
	border: 1px solid white;
	width: 300px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 25px;
}

.filtres
{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	background-color: red;
	width: 650px;
	margin-top:15px;
	margin-bottom:15px;

}

.filtre
{
	border: 1px solid white;
	display: flex;
	flex-direction: row;
}

.inblock
{
	background-color: blue;